.App {
  text-align: center;
  margin: 0 auto;
 
  /* display: flex; */
}
.NavBar {
  list-style: none;
  text-align: right;
}
a {
  color:rgb(134, 149, 174);
}
img {
  width: 100%;
  max-height: 50%;

  /* margin-top: 80px; */
}
.HomeInfo {
  margin-top: 80px;
  margin-bottom: 0px ;
  font-family: 'lobster';
  color: rgb(89, 79, 68);
}
.editProfile {
  font-family: 'Damion';
}
#root {
  background-color: rgb(213, 207, 207);
  height: 800px;
}
.link, h2, h3, h4, h6, p {
  color: rgb(89, 79, 68);
}
h1 {
  color: rgb(89, 79, 68);
  font-family: 'Damion';
}
.Questions {
  text-align: center;
}
.editProfile {
  color: rgb(89, 79, 68);
}
header {
  padding: 20px;
  background-color: rgba(89, 79, 68, 0.5);
  margin-left: -33.33%;
  margin-right: -33.33%;
}
.answers-list {
  float: left; 
  padding: 40px;
}
.askedBy {
  padding:8px ;
}







