.App {
  text-align: center;
  margin: 0 auto;
  /* display: flex; */
}
.NavBar {
  text-align: left;
  list-style: none;
}
/* img {
  height: 100%;
  max-width: 600px;
  align-items: stretch;
  float: right;
 
} */
.HomeInfo {
  float: left;
}


